.home-container {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.site-logo-btn {
  position: absolute;
  top: 20px;
  left: 20px;
  border: none;
  background: none;
  cursor: pointer;
  z-index: 12;
  width: 40px;
  height: 40px;
  padding: 0;
}

.site-logo-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}