.map-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.map-inner {
  width: 100%;
  height: 100%;
}

.map-search {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  background: #153232;
  padding: 8px 12px;
  border-radius: 8px;
  color: white;
  width: 300px;
}

.autocomplete-list {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 11;
  background: #153232;
  color: white;
  border-radius: 8px;
  width: 300px;
  max-height: 200px;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  list-style: none;
}

.autocomplete-list li {
  padding: 8px 12px;
  cursor: pointer;
}

.autocomplete-list li:hover {
  background-color: #f0f0f0;
}

.overlay-toggle-buttons button.active {
  background: #00aaff;
}

.overlay-toggle-buttons {
  position: absolute;
  bottom: 20px;
  left: 20px;
  z-index: 9999;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.overlay-toggle-buttons button {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

.overlay-toggle-buttons button.active {
  background: rgba(0, 150, 0, 0.85);
}

