.map-controls-container {
  position: absolute;
  bottom: 60px;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  z-index: 10;
}

.map-btn {
  width: 42px;
  height: 42px;

  display: flex;              /* ADD */
  align-items: center;        /* ADD */
  justify-content: center;    /* ADD */

  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  background: #153232;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  transition: 0.15s;
}

.map-btn:hover {
  transform: scale(1.05);
}

.layer-control {
  position: relative;
}

.layer-menu {
  position: absolute;
  left: 50px;
  bottom: 0;
  background: #153232;
  border-radius: 10px;
  padding: 6px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 10px rgba(0,0,0,0.25);
}

.layer-option {
  background: none;
  border: none;
  padding: 6px 12px;
  text-align: left;
  cursor: pointer;
  font-size: 14px;
}

.layer-option:hover {
  background: #353535;
}

.location-icon{
    width: 20px;
    height: 20px;
}
